/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section {
	padding: 2rem 4rem;

	> sub {
		color: $secondary;
		font-weight: 500;
		margin: 0;
	}

	@media screen and (min-width: 2200px) {
		padding: 3rem 6rem;
	}
}

#app {
	font-family: "Poppins", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-primary;
}
html {
	@media screen and (max-width: 800px) {
		font-size: 12px;
		.section {
			padding: 1rem;
		}
	}
}

h1 {
	font-size: 3rem;
	font-weight: 600;
	width: fit-content;
	margin: 1rem 0;
	line-height: 1.5;
}

h2 {
	font-size: 2rem;
}

strong {
	font-weight: bold;
}

button {
	font-size: 1.3rem;
	padding: 0.5rem 1rem;
	border: 1px solid $text-primary;
	border-radius: 5px;
	color: $text-primary;
	font: inherit;

	font-weight: 600;

	margin: 1.5rem auto 0 auto;
	display: block;
	cursor: pointer;

	&:hover {
		background: lighten($text-secondary, 50%);
	}

	&[primary] {
		background: $primary;
		color: $background-secondary;
		border: none;
		padding: 0.75rem 1.5rem;
		font-size: 1.4rem;

		&:hover {
			background: darken($primary, 10%);
		}
	}
}
