$background-primary: #ffffff;
$background-secondary: #e6e9ed;
$background-tertiary: #d8dade;

$primary: #fc0343;
$secondary: #0066ff;

$text-primary: #222a33;
$text-secondary: #48596b;
$text-tertiary: #9bafc3;
